@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.news-header {
    background: linear-gradient(to top, rgba(209, 219, 197, 0.04) 0%, rgba(209, 219, 197, 1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    
}
.news-footer {
    background: linear-gradient(to bottom, rgb(249, 250, 251) 0%, rgba(209, 219, 197, 1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

  
